extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content

  section.block-content.page-about

    +triangle('about')

    .block-content__left
      .about
        .about__title
          .about__title-position
            .title.block-title.about__block-title
              .title__style
                span Обо мне
        .about__content
          .user-description
            .user-description__image
              img(src="assets/images/about/user.jpg").user-description__avatar
            .user-description__data
              .user-description__title
                .title.block-subtitle.user-description__block-subtitle
                  .title__style
                    span Кто я
              .user-description__text.text-content
                p Я веб разработчик из Кирова. Мне 25 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

    .block-content__right.technologies
      .technologies__title
        .title.block-subtitle.technologies__block-subtitle
          .title__style
            span Чем я могу быть вам полезен
      .technologies__description.text-content
        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .technologies__content
        -
          var skills = [
            ['Frontend', [['HTML', 30], ['CSS3', 50], ['JavaScript & jQuery', 70]]],
            ['Backend', [['PHP', 30], ['mySQL', 50], ['Node.js & npm', 70], ['Mongo.db', 70]]],
            ['Workflow', [['Git', 30], ['Gulp', 50], ['Bower', 70]]],
          ]

        ul.skills-list
          each skillsrow in skills
            li.skills-list__item.skills-row
              .skills-row__title #{skillsrow[0]}
              ul.skills-row__list
                each skill in skillsrow[1]
                  li.skills-row__item
                    figure.skill(data-percents="70")
                      svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
                        circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                        circle(cx="50" cy="50" r="40").skill__circle.skill__circle_above
                      .skill__title #{skill[0]}

  section.map
    .google-map
      img(src="assets/images/map.jpg", alt="")
    .map__data.map__data--position
      .contacts
        .title.block-subtitle.contacts__block-subtitle
          .title__style
            span Контакты
        .contacts__data
          ul.contacts__list
            -
              var contacts = [
                ['envelope', 'skype_kdn'],
                ['envelope', 'astahov@gmail.com'],
                ['envelope', '+7 931 200 93 24'],
                ['envelope', 'г.Новосибирск, ул. Инская, д. 5']
              ]
            each item in contacts
              li.contacts__item.contacts-row
                .contacts__icon
                  +icon(`${item[0]}`, 'contacts__icon-img')
                .contacts__title #{item[1]}
  
  