extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='about.bundle.js')

block content

    section.works

        +triangle('works')

        .my-works.my-works-main-title
            .title.block-title.works__block-title
                .title__style
                    span Мои работы
            
        .block-content.slider
            .block-content__left
                .slider__info-container
                    .slider__info
                        .slider__info-title
                            .title.block-subtitle.works__block-subtitle
                                .title__style
                                    span Сайт школы онлайн образования
                        .slider__info-skills HTML , CSS, JAVASCRIPT
                        .slider__info-button
                            a(:href="" target="_blank").button.button-go Посмотреть сайт
            .block-content__right
                .slider__display
                    img(src="assets/images/sites/site1.png")
                .slider__buttons
                    .slider__button
                        .slider__button-img-wrap
                            img(src="assets/images/sites/site1.png").slider__button-pic
                        .slider__btn
                    .slider__button.slider__button--next
                        .slider__button-img-wrap
                            img(src="assets/images/sites/site1.png").slider__button-pic
                        .slider__btn
        
        .feedback
            .conteiner
                .feedback__title
                    .title.block-title.works__block-title-about
                        .title__style
                            span Что обо мне говорят
                
                .feedback__content
                    .reviews
                        .reviews__left
                            .reviews__content
                                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                                .reviews__user
                                    .reviews__avatar
                                        img(src="assets/images/photo/reviews-photo-1.png")
                                    .reviews__name Ковальчук Дмитрий #[br]
                                        span основатель Loftschool
                        .reviews__right
                            .reviews__content
                                p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                .reviews__user
                                    .reviews__avatar
                                        img(src="assets/images/photo/reviews-photo-2.png")
                                    .reviews__name Сабанцев Владимир #[br]
                                        span преподаватель

                .feedback__form
                    .blur-form
                        .blur
                        .from-message-block
                            .works__title
                                .title.block-subtitle.works__block-subtitle
                                    .title__style
                                        span Связаться со мной
                            form.from-message(action='', method='post')
                                input(type='text', name='name', placeholder='Имя', required='')
                                input(type='text', name='name', placeholder='Email', required='')
                                textarea(name='message', placeholder='Ваше сообщение', required='', rows='5')
                                .from-message__button
                                    button(type='submit') Отправить
                                    button(type='reset') Очистить

                .feedback__up
                    a(href="").up-button
                        +icon('arrow_down', 'up-btn')