extends ../works.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content

    section.works

        +triangle('works')

        .my-works.my-works-main-title
            .title.block-title.works__block-title
                .title__style
                    span Мои работы
        
        .slider-container
            #slider-component
                include ../components/modules/slider.pug
        
        .feedback
            .blur-bg
                img(src="assets/images/styles/background-feedback.png")
            .container-block
                .feedback__title
                    .title.block-title.works__block-title-about
                        .title__style
                            span Что обо мне говорят
                
                .feedback__content
                    .reviews
                        .reviews__left
                            .reviews__content
                                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                                .reviews__user
                                    .reviews__avatar
                                        img(src="assets/images/photo/reviews-photo-1.png")
                                    .reviews__name Ковальчук Дмитрий #[br]
                                        span основатель Loftschool
                        .reviews__right
                            .reviews__content
                                p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                .reviews__user
                                    .reviews__avatar
                                        img(src="assets/images/photo/reviews-photo-2.png")
                                    .reviews__name Сабанцев Владимир #[br]
                                        span преподаватель

                .feedback__form
                    .blur-form
                        .blur
                        .form-message-block
                            .works__title
                                .title.block-subtitle.works__block-subtitle
                                    .title__style
                                        span Связаться со мной
                            form.form-style.form-message(action='', method='post')
                                input(type='text', name='name', placeholder='Имя', required='')
                                .error-box
                                input(type='text', name='email', placeholder='Email', required='')
                                .error-box
                                textarea(name='message', placeholder='Ваше сообщение', required='', rows='5')
                                .form-style__button
                                    button(type='submit')#form-style__button-submit Отправить
                                    button(type='reset')#form-style__button-reset Очистить
                    
                    .message-send.message-send-done
                        .message-send__block
                            p Сообщение отправлено
                            button(type='button').message-send__exit Закрыть
                    
                    .message-send.message-send-error
                        .message-send__block
                            p Необходимо заполнить все поля
                            button(type='button').message-send__exit Закрыть

                .feedback__up
                    a(href="").up-button#up-button
                        +icon('arrow_down', 'up-btn')
                
            include ../common/footer.pug
    