header.header
  .header__bg
    img(src="assets/images/header-bg.jpg")
  .header__top.header-top-container

    .header__left
      +socials('header__social')

    .header__right
      a(href="").hamburger
        +icon('hamburger', 'hamburger__icon')

  .header__center

    .header__title
      .section-title
        .section-title__portfolio

    .user.header__user
      .user__photo
        img(src="assets/images/about/photo.jpg").user__pic-img
      .user__description
        .user__name Анжелика Некрасова
        .user__info Личный сайт разработчика

  .header__bottom
    a(href="").header__down-btns
        +icon('arrow_down', 'down-btn')