mixin skills(class)
    -
        var skills = [
            ['Frontend', [['HTML', 30], ['CSS3', 50], ['javascript', 70]]],
            ['Backend', [['Html5', 30], ['css3', 50], ['javascript', 70]]],
            ['Workflow', [['Html5', 30], ['css3', 50], ['javascript', 70]]],
        ]

    ul.skills-list
        each skillsrow in skills
            li.skills-list__item.skills-row
                .skills-row__title #{skillsrow[0]}
                ul.skills-row__list
                    each skill in skillsrow[1]
                        li.skills-row__item
                            figure.skill(data-percents="70")
                                svg(viewBox="0 0 100 100" preserveAspectRatio="none")
                                .skill__figure
                                    circle(cx="50" cy="50" r="40")
                                    .skill__circle.skill__circle_under
                                    circle(cx="50" cy="50" r="40")
                                    .skill__circle.skill__circle_animate
                                .skill__title #{skill[0]}
