mixin socials(modClass)
  -
    var socials = [
      ['vk', 'http://vk.com'],
      ['github', 'http://gh.com'],
      ['in', 'http://in.com']
    ]
  ul(class=`social ${modClass}`)
    each item in socials
      li.social__item
        a(
          href=`${item[1]}`
          class='social__link')
          +icon(item[0], `social__icon`)

