.block-front {
    width: 380px;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
    &__user {
        width: 380px;
        min-height: 355px;
        background: rgba(255, 255, 255, 0.85);
        padding: 40px 20px 0;
        color: $text-color;
    }
    &__social {
        justify-content: center;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__social svg {
        fill: $green;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}