.block-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    position: relative;
    @media (max-width: 992px) {
        grid-template-columns: 100%;
        grid-template-rows: min-content 1fr;
        grid-template-areas: "left" "right";
    }
    &__left {
        grid-area: left;
        padding-bottom: 60px;
        @media (max-width: 992px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    &__right {
        grid-area: right;
        padding-bottom: 60px;
        @media (max-width: 992px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}