.blog-content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 23% 77%;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    position: relative;
    padding-top: 50px;
    grid-column-gap: 120px;
    background: #fff;
    &__left {
        grid-area: left;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    &__right {
        grid-area: right;
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
    }
}

.blog__article-titles {
    display: flex;
    justify-content: flex-end;
}

.blog__article-list {
    width: 100%;
    max-width: 300px;
    position: relative;
}

.blog__article-title {
    width: 100%;
    float: left;
    display: block;
    text-align: right;
    padding: 10px 20px;
    margin-bottom: 20px;
    &.active {
        
        border-right: 3px solid $green;
        .blog__article-link {
            color: $green;
            font-weight: 600;
        } 
    }
}
.blog__article-link {
    color: #455a64;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    &:hover {
        color: $green;
    }
}

.blog__article {
    padding-bottom: 70px;
    margin-bottom: 60px;
    border-bottom: 5px solid rgba(55, 62, 66, 0.07);
    &:last-child {
        border: none;
        margin-bottom: 0;
    }
}
.blog__title {
    font-size: 35px;
    margin: 0 0 20px;
    display: flex;
    justify-content: left;
    .title span::before,
    .title span::after {
        display: none;
    }
}
.blog__date {
    color: $green;
    margin-bottom: 25px;
}
