.footer {
    background: #373e42;
    width: 100%;
    min-height: 147px;
    opacity: 0.85;
    position: relative;
    float: left;
    @media (max-width: 992px) {
        padding: 10px 20px 5px;
    }
    &__row {
        min-height: 73px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 992px) {
            display: block;
            float: left;
            width: 100%;
            padding: 10px 0;
        }
    }
    &__col {
        width: 50%;
        float: left;
        display: flex;
        padding: 0 10px;
        @media (max-width: 992px) {
            width: 100%;
            padding: 10px 0;
            display: flex;
            justify-content: center;
        }
    }
    &__col_justify_end {
        justify-content: flex-end;
        @media (max-width: 992px) {
            display: flex;
            justify-content: center;
        }
    }
    &__col p {
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        opacity: .5;
        @media (max-width: 992px) {
            font-size: 13px;
        }
    }
}

.footer-position {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer__row--top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px!important;
    .social__link {
        width: 35px;
        height: 35px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: #fff;
            svg {
                fill: #555b5e;
                opacity: 1;
            }
        }
    }
    .social__item {
        margin: 0;
    }
    .social__icon {
        width: 20px;
        height: 20px;
    }
    svg {
        fill: #fff;
        opacity: 0.5;
        margin: 5px;
    }
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 405px;
    width: 100%;
    &__item {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        display: block;
        text-decoration: none;
        &:hover {
            color: $green;
            text-decoration: none;
        }
        @media (max-width: 992px) {
            font-size: 13px;
        }
    }
}