.front-page-bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/images/styles/main-block-front-page-bg.jpg) top center no-repeat;
    background-size: cover;
}