.header {
    background: url(assets/images/styles/section-user-bg.jpg) top center no-repeat;
    background-size: cover;
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    float: left;

    &__links {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__user {
        color: #fff
    }

    &__menu {
        position: absolute;
        top: 28px;
        right: 30px;
    }

    &__title {
        max-width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__down-btns {
        position: absolute;
        bottom: 75px;
        z-index: 100;
    }
}

.header__social {
    position: absolute;
    top: 30px;
    left: 30px;

    svg {
        fill: #fff;
        opacity: 0.5;

        &:hover {
            fill: #fff;
            opacity: 1;
        }
    }
}