.parallax-front {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        will-change: transform;
    }
    &__image {
        position: absolute;
        width: calc(100% + 170px);
        height: calc(100% + 100px);
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        @media (max-width: 1200px) {
            width: auto;
        }
    }
}

.parallax-front__disable {
    display: none;
}