.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(4, 1fr) repeat(4, 1fr) repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". . left left left left right right right right . .";
    grid-column-gap: 20px;
    @media screen and (max-width: 992px) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-template-areas: "left right";
        grid-column-gap: 20px;
        padding: 0 10px;
    }
    @media screen and (max-width: 768px) {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "left" "right";
        padding: 0 10px;
    }
}

.reviews__left {
    grid-area: left;
}

.reviews__right {
    grid-area: right;
}

.reviews__content {
    width: 100%;
    margin-top: 45px;
    padding-top: 60px;
    background: url(assets/images/styles/quotes.png) no-repeat;
    background-position: 0 0;
    @media screen and (max-width: 768px) {
        background-position: 50% 0;
    }
}

.reviews__user {
    display: flex;
    align-items: center;
}

.reviews__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.reviews__name {
    color: $green;
    font-weight: 500;
    span {
        font-weight: 400;
    }
}