.social {
    display: flex;
    height: auto;
    width: auto;
    &__item {
        list-style: none;
        float: left;
        margin: 0 13px;
    }
    &__link {
        text-decoration: none;
        display: block;
        cursor: pointer;
    }
}

.social__icon {
    width: 30px;
    height: 23px;
    @media (max-width: 480px) {
        width: 25px;
        height: 25px;
    }
}