.front-page-bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/images/styles/main-block-front-page-bg.jpg) top center no-repeat;
    background-size: cover;
}

.block-front {
    width: 380px;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
    &__user {
        width: 380px;
        height: 350px;
        background: rgba(255, 255, 255, 0.85);
        padding: 40px 0 0;
        color: $text-color;
    }
    &__social {
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    &__social svg {
        fill: $green;
        &:hover {
            fill: $green-hover;
        }
    }
}