.works {
    position: relative;
    &__block-title {
        &::before {
            content: "";
            width: 100%;
            height: 125px;
            opacity: 0.1;
            background: svg-load('works_header.svg', fill=$grey) center center no-repeat;
            background-size: contain;
            position: absolute;
            top: -30px;
            left: 0;
        }
    }
    &__block-title-about {
        &::before {
            content: "";
            width: 100%;
            height: 125px;
            opacity: 0.1;
            background: svg-load('about_header.svg', fill=$grey) center center no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
        }
        span {
            width: 290px;
        }
    }
}

.my-works {
    position: relative;
    background: #faf8f0;
}

.my-works-main-title {
    padding: 50px 0 50px;
}

.works .block-content__left {
    background: #f0efe9;
}

.works .block-content__right {
    background: #efebe0;
    @media (max-width: 1200px) {}
}